* {
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
}

.headerContainer {
  height: 15vh;
  font-size: 1.8rem;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgba(204, 204, 255, 1);
  color: white;
  padding-left: 3vw;
  text-decoration: underline;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 70vh;
  background-color: rgba(204, 204, 255, 1);
}

.tasksContainer {
  background-color: lavenderblush;
}

.footerContainer {
  height: 14vh;
  background-color: lightgray;
}
